// product-list Area set up
.list-column {
    flex-direction: column;
}

$basePX:10px;

@function padding($count:1){
    @return $basePX * $count
}

.product-line-hight {
    padding:padding(1.5) 0;
    font-weight: bold;
    font-size: 24px;
}

.list-border{
    border:1px solid #EAF0ED;
    background-color: #fff !important;
}

